<div class="col-md-8 mx-auto">
  <%= form_for @house do |form| %>
    <% if @house.errors.any? %>
      <div class="alert alert-warning">
        <p class="display-4">
          <%= pluralize @house.errors.count, "error" %> prohibited
          this article from being saved:
        </p>
        <ul>
          <% @house.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-row">
      <div class="form-group col-6">
        <%= form.label :rent %>
        <%= form.text_field :rent, class: "form-control" %>
      </div>
      <div class="form-group col-6">
        <%= form.label :deposit %>
        <%= form.text_field :deposit, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= form.label :description %>
      <%= form.text_area :description, class: "form-control" %>
    </div>


    <%= form.fields_for :address do |address_form| %>
      <div class="form-group">
          <%= address_form.label :state %>
          <%= address_form.text_field :state, class: "form-control" %>
        </div>
    <% end %>
    <%= form.submit "Submit", class: "btn btn-primary" %>
  <% end %>
</div>
